
.actions-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto 10px;
}

.actions-wrapper button {
    margin: 0 10px
}

button {
    flex: 1 1 auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border:none;
    font-weight: 700;
    letter-spacing: 0.04em;
    width: 100%
  }
  
  .orange {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  }
  
  .blue {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  }